<div>
    <div class="modal fade" id="modalCategory" tabindex="-1" aria-labelledby="modalCategoryLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title" id="modalUsuarioLabel">Datos Personales</h5>
                    <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body g-2">
                    <!-- Sección Datos Personales -->
                    <div id="seccionDatosPersonales">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="tipoDocumento" class="form-label">Tipo de Documento</label>
                                <select class="form-select" id="tipoDocumento">
                                    <option value="1   ">DNI</option>
                                    <option value="2   ">RUC</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="nmroDocumento" class="form-label">N° Documento</label>
                                <input type="text" class="form-control" id="nmroDocumento" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label for="nombreUsuario" class="form-label">Nombres</label>
                                <input type="text" class="form-control" id="nombreUsuario" required>
                            </div>
                            <div class="col-sm-6">
                                <label for="apellidoUsuario" class="form-label">Apellidos</label>
                                <input type="text" class="form-control" id="apellidoUsuario" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="sexo" class="form-label">Sexo</label>
                                <select class="form-select" id="sexo">
                                    <option value="" selected disabled></option>
                                    <option value="M">Masculino</option>
                                    <option value="F">Femenino</option>
                                </select>
                            </div>



                            <div class="col-sm-6">
                                <label for="fNacimiento" class="form-label">Fecha de Nacimiento</label>
                                <input type="date" class="form-control" id="fNacimiento" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label for="lNacimiento" class="form-label">Lugar de Nacimiento</label>
                                <input type="text" class="form-control" id="lNacimiento" required>
                            </div>
                            <div class="col-sm-6">
                                <label for="telefono" class="form-label">Teléfono</label>
                                <input type="text" class="form-control" id="telefono" required>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label for="direccion" class="form-label">Dirección</label>
                                <input type="text" class="form-control" id="direccion" required>
                            </div>

                        </div>
                    </div> <!-- Fin de seccionDatosPersonales -->
                    <!-- Sección Datos de Usuario (Oculta por defecto) -->
                    <div id="seccionDatosUsuario" style="display: none;">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="rolUsuario" class="form-label">Rol</label>
                                <select class="form-select" id="rolUsuario">
                                    <option value="">Seleccione un rol</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="email" class="form-label">Correo</label>
                                <input type="email" class="form-control" id="email" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label for="username" class="form-label">Nombre de Usuario</label>
                                <input type="text" class="form-control" id="username" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label for="activo" class="form-label">Activo</label>
                                <select class="form-select" id="activo">
                                    <option value="Si">Si</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>

                        <!-- Campo oculto -->
                        <input type="hidden" id="hiddenUserId" value="">
                        <input type="hidden" id="hiddenPersonId" value="">

                    </div> <!-- Fin de seccionDatosUsuario -->


                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="btnAtras1" style="display: none;">Atrás</button>
                        <button type="button" class="btn btn-secondary" id="btnAtras2" style="display: none;">Atrás</button>
                        <button type="button" class="btn btn-primary" id="btnSiguiente1" style="display: none;">Siguiente</button>
                        <button type="button" class="btn btn-primary" id="btnSiguiente2" style="display: none;">Siguiente</button>
                        <button type="button" class="btn btn-success" id="btnGuardar" style="display: none;">Guardar</button>
                        <button type="button" class="btn btn-warning" id="btnActualizar" style="display: none;">Actualizar</button>
                    </div>
                </div> <!-- Fin de modal-body -->
            </div> <!-- Fin de modal-content -->
        </div> <!-- Fin de modal-dialog -->
    </div> <!-- Fin de modal -->
</div> <!-- Fin del contenedor principal -->
